<div class="d-flex flex-wrap flex-sm-nowrap">
	<!--begin: Pic-->
	<div class="me-7 mb-4">
		<div class="symbol symbol-100px symbol-lg-160px symbol-fixed position-relative">
			<img src="@KTTheme.GetAssetPath("media/avatars/luthfi.jpeg")" alt="image">
			<div
				class="position-absolute translate-middle bottom-0 start-100 mb-6 bg-success rounded-circle border border-4 border-body h-20px w-20px">
			</div>
		</div>
	</div>
	<!--end::Pic-->

	<!--begin::Info-->
	<div class="flex-grow-1">
		<!--begin::Title-->
		<div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
			<!--begin::User-->
			<div class="d-flex flex-column">
				<!--begin::Name-->
				<div class="d-flex align-items-center mb-2">
					<a href="#" class="fs-2 text-white fw-bold me-1">Luthfi Noviandi</a>
					<a href="#"><i class="ki-duotone ki-verify fs-1 text-primary"><span class="path1"></span><span
								class="path2"></span></i></a>
				</div>
				<!--end::Name-->

				<!--begin::Info-->
				<div class="d-flex flex-wrap fw-semibold fs-6 mb-4 pe-2">
					<a href="#" class="d-flex align-items-center text-white me-5 mb-2">
						<i class="ki-duotone ki-profile-circle text-white fs-4 me-1"><span class="path1"></span><span
								class="path2"></span><span class="path3"></span></i> Senior Software Engineer
					</a>
					<a href="#" class="d-flex align-items-center text-white me-5 mb-2">
						<i class="ki-duotone ki-geolocation fs-4 me-1 text-white"><span class="path1"></span><span
								class="path2"></span></i> Bogor, Indonesia
					</a>
					<a href="#" class="d-flex align-items-center text-white mb-2">
						<i class="ki-duotone ki-sms fs-4 text-white"><span class="path1"></span><span class="path2"></span></i>
						luthfinoviandi@gmail.com
					</a>
				</div>
				<!--end::Info-->
			</div>
		</div>
		<!--end::Title-->

		<!--begin::Stats-->
		<div class="d-flex flex-wrap flex-stack">
			<!--begin::Wrapper-->
			<div class="d-flex flex-column flex-grow-1 pe-8">
				<!--begin::Stats-->
				<div class="d-flex flex-wrap">
					<!--begin::Stat-->
					<div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
						<!--begin::Number-->
						<div class="d-flex align-items-center">
							<i class="ki-duotone ki-arrow-up fs-3 text-success me-2"><span class="path1"></span><span
									class="path2"></span></i>
							<div class="fs-2 fw-bold counted text-white" data-kt-countup="true" data-kt-countup-value="9"
								data-kt-initialized="1">9 Years</div>
						</div>
						<!--end::Number-->

						<!--begin::Label-->
						<div class="fw-semibold fs-6 text-white">Total Exp.</div>
						<!--end::Label-->
					</div>
					<!--end::Stat-->
				</div>
				<!--end::Stats-->
			</div>
			<!--end::Wrapper-->
		</div>
		<!--end::Stats-->
	</div>
	<!--end::Info-->
</div>