<!--begin::Table Widget 3-->
<div class="card card-flush h-xl-100">
	<!--begin::Card header-->
	<div class="card-header py-7">
		<!--begin::Title-->
		<h3 class="card-title align-items-start flex-column">
			<span class="card-label fw-bold text-gray-800">Work Experience</span>
		</h3>
		<!--end::Title-->
	</div>
	<!--end::Card header-->
	<!--begin::Card body-->
	<div class="card-body pt-1">
		<!--begin::Table-->
		<table id="experienceTable" class="table table-row-dashed align-middle fs-6 gy-4 my-0 pb-3" data-kt-table-widget-3="all">
			<thead class="d-none">
				<tr>
					<th>Company</th>
					<th>Position</th>
					<th>Status</th>
					<th>Date</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				
			</tbody>
			<!--end::Table-->
		</table>
		<!--end::Table-->
	</div>
	<!--end::Card body-->
</div>
<!--end::Table Widget 3-->

<div class="modal fade modal-sm" id="experienceModal" tabindex="-1" aria-modal="true" role="dialog">
    <!--begin::Modal dialog-->
    <div class="modal-dialog mw-700px">
        <!--begin::Modal content-->
        <div class="modal-content">
            <!--begin::Modal header-->
            <div class="modal-header  pb-0 border-0 d-flex justify-content-end">
               <!--begin::Close-->
               <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>                
				</div>
                <!--end::Close-->
            </div>
            <!--end::Modal header-->    
            
            <!--begin::Modal body-->
            <div class="modal-body scroll-y mx-5 mx-xl-10 pt-0 pb-15">
                <!--begin::Heading-->
                <div class="text-center mb-13">
                    <!--begin::Title-->
                    <h1 class="d-flex justify-content-center align-items-center mb-3">
                        <span id="companyName"></span>
                    </h1>    
					<h2 class="d-flex justify-content-center align-items-center mb-3">
						<span id="jobTitle"></span>
                    </h2>    
                    <!--end::Title-->

					<!--begin::Description-->
                    <div class="text-muted fw-semibold fs-5" id="period">
                    </div>
                    <!--end::Description-->
                </div>
                <!--end::Heading-->
                          
                <!--begin::Users-->
                <div class="mh-475px scroll-y me-n7 pe-7">
                                            <!--begin::User-->
                        <div class="border border-hover-primary p-7 rounded mb-7">
                            <!--begin::Info-->
                            <div class="d-flex flex-stack pb-3">
                                <!--begin::Info-->
                                <div class="d-flex">
									<div class="d-flex">       
										<a href="#" class="text-gray-900 fw-bold text-hover-primary fs-5 me-4">Job Description</a>
									</div>
                                </div>
                                <!--end::Info-->
                            </div>        
                            <!--end::Info-->

                            <!--begin::Wrapper-->      
                            <div class="p-0">
                                <!--begin::Section--> 
                                <div class="d-flex flex-column"> 
                                    <!--begin::Text-->
                                    <ul class="text-gray-700 fw-semibold fs-6 mb-4 text-wrap" id="description"></ul>
                                    <!--end::Text--> 
                                </div>
                                <!--end::Section--> 
                            </div>
                            <!--end::Wrapper-->
							<div class="d-flex flex-stack pb-3">
                                <!--begin::Info-->
                                <div class="d-flex">
									<div class="d-flex">       
										<a href="#" class="text-gray-900 fw-bold text-hover-primary fs-5 me-4">Projects</a>
									</div>
                                </div>
                                <!--end::Info-->
                            </div>        
							<!--begin::Wrapper-->      
                            <div class="p-0">
                                <!--begin::Section--> 
                                <div class="d-flex flex-column"> 
                                    <!--begin::Text-->
                                    <ul class="text-gray-700 fw-semibold fs-6 mb-4 text-wrap" id="project"></ul>
                                    <!--end::Text--> 
                                                
                                    <!--begin::Tags-->
                                    <div class="d-flex text-gray-700 fw-semibold fs-7" id="techStack">
                                                                                    
                                    </div> 
                                    <!--end::Tags-->    
                                </div>
                                <!--end::Section--> 
                            </div>
                            <!--end::Wrapper-->
                        </div>              
                        <!--end::User-->          
                <!--end::Users-->                                       
            </div>
            <!--end::Modal Body-->
        </div>
        <!--end::Modal content-->
    </div>
   <!--end::Modal dialog-->     
</div>

@{
  KTTheme.AddJavascriptFile("/js/custom/dashboards/experience.js");
}