<!--begin::Chart widget 27-->
<div class="card card-flush h-xl-100">
	<!--begin::Header-->
	<div class="card-header pt-5">
		<h3 class="card-title align-items-start flex-column">
			<span class="card-label fw-bold text-gray-800">English Skill</span>
		</h3>
	</div>
	<!--end::Header-->
	<!--begin::Body-->
	<div class="card-body pt-0 pb-1">
		<div id="language_skill" class="min-h-auto"></div>
	</div>
	<!--end::Body-->
</div>
<!--end::Chart widget 27-->

@{
  KTTheme.AddJavascriptFile("/js/custom/dashboards/language-skill.js");
}